<html xmlns="http://www.w3.org/1999/xhtml">
<head>
{% block head %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{% block appinfo %}{{ app.name }} v{{ app.ver }} {% block title %} - {{ title }}{% endblock title %}{% endblock appinfo %}</title>
<link rel="stylesheet" type="text/css" href="css/app.css" />
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/common.js"></script>
<script type="text/javascript" src="js/jquery.validate.min.js"></script>
<script type="text/javascript" src="js/jquery.metadata.js"></script>
<script type="text/javascript" src="js/jquery.tablesorter.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $("table").tablesorter({sortList: [[1,1]]});
});
$("theForm").validate();
</script>
{% endblock head %}
</head>

<body>
<form name="theForm" id="theForm" method="post" action="{{ nextaction }}" ENCTYPE="multipart/form-data">
<h1>{{ self.appinfo() }}</h1>
<div class="bigdesc">
<table style="border:0" width=100%%>
{% block topcontent %}{% endblock topcontent %}
</table>
</div>

<div>
{% block middlecontent %}{% endblock middlecontent %}
</div>
<br>
<div id="buttons">
	{% block buttons %}
	<input name="$back"
    type="button"
    id="back"
    value="&lt; Start Over"
    onclick="window.location='main.py?path=start&amp;logged_in_user={{ logged_in_user|urlencode }}';return false"/>
	&nbsp;
	{% endblock buttons %}
</div>
</form>
</body>
</html>
