{% extends "base.html" %}
{% block head %}
  {{ super() }}
<script type="text/javascript" src="js/1_get_computer_names.js"></script>
{% endblock head %}

{% block topcontent %}
<colgroup>
<col />
</colgroup>
<tr>
<td>
<p>
{{ topmsg }}
</p>
<p> <b>ProTip</b>: Type <i>GET_ALL_WINDOWS</i> to list all windows computers in selection screen </p>

<h2><a href="#" id="add">Add Another Computer Name Input Box</a></h2>

<div id="input_container">
    <p>
        <label for="input_box"><input type="text" size="80" name="computer_names" value="" placeholder="-- Computer Name --" /></label>
    </p>
</div>

<INPUT TYPE="hidden" NAME="path" VALUE="{{ next_path }}">
</p>
</td>
</tr>
{% endblock topcontent %}

{% block middlecontent %}
<center>  <label for="computer_names" class="error">Please provide input for at least one computer name.</label></center>

{% endblock middlecontent %}

{% block buttons %}
{{ super() }}
 <input name="view" type="submit" id="next" value="Next &gt;" />
 &nbsp;

{% endblock buttons %}
