{% extends "base.html" %}
{% block head %}
  {{ super() }}
<script type="text/javascript" src="js/2_computer_select.js"></script>
{% endblock head %}

{% block bigdesc %}

{% endblock bigdesc %}

{% block middlecontent %}
<INPUT TYPE="hidden" NAME="path" VALUE="{{ next_path }}">

<table id="serverselect" class="tablesorter-blue" width="100%">
<caption>{{ topmsg }}:</caption>
<colgroup>
   <col span="1" style="width: 10%;">
   <col span="1" style="width: 20%;">
   <col span="1" style="width: 20%;">
   <col span="1" style="width: 20%;">
   <col span="1" style="width: 10%;">
</colgroup>
<thead>
 <tr>
  <th class="{sorter: false}"><input type="checkbox" id="select_all"/></th>
  <th class="c1">Computer Name</th>
  <th class="c2">IP Address</th>
  <th class="c3">Operating System</th>
  <th class="c4">Is Windows</th>
 </tr>
</thead>
<tbody>
{% for server in server_searches %}
 <tr class="search_row">
  <td class="c0"><input DISABLED type="checkbox" class="checkbox disabled" name="server" value="{{ server.computer_name }}" /></td>
  <td class="c1">
    Question ID: <span class="q_id">{{ server.question_id }}</span><br>
    Question Progress: <b><span class="q_status">Started</span></b><br>
    Question Query: <i>{{ server.question_query }})</i><br>
  </td>
  <td class="c2">...</td>
  <td class="c3">...</td>
  <td class="c4">...</td>
 </tr>
{% endfor %}
</tbody>
</table>
<br>
<center>  <label for="server" class="error">Please select at least one server.</label></center>

{% endblock middlecontent %}

{% block buttons %}
{{ super() }}

 <input disabled="true" name="view" type="submit" id="next" value="Next &gt;" />
 &nbsp;

{% endblock buttons %}
